APP_NAME=schoolManagementSystem
APP_ENV=local
APP_KEY=base64:xPWjK89HvjLCQyhPfkgmlwLJL6KWAkmyWPok8yfF0lI=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

INERTIA_SSR_ENABLED=false

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=schoolManagementSystem
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Looking to send emails in production? Check out our Email API/SMTP product!
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=regisattolou19@gmail.com
MAIL_PASSWORD=jmjvmfeisslmfvav
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=regisattolou19@gmail.com
MAIL_FROM_NAME="${APP_NAME}"
MAIL_URL=smtp://regisattolou19@gmail.com:jmjvmfeisslmfvav@smtp.gmail.com:587?verify_peer=0

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

KKIAPAY_PUBLIC_KEY=d949680a85e3f3f61e79dbb39e9f612b73444b72
KKIAPAY_PRIVATE_KEY=pk_5d50009d5f3788fa52eb78c58ba532d0312f9295d85437823346d9432673e99a
KKIAPAY_SECRET_KEY=sk_3add2f8bc4bdea07353c54ed53656de28480203009eda574baccfd73df50a923

STRIPE_SECRET=sk_test_51RtnMzRu7CqikslaXcHrR2BloFYZ3V1JcnXqmTVuBYzZN40IJn4RsNlMoxWKrcZ5rRTX1290R1rtM7WdIDVEaUzK00foaOH3fN
STRIPE_PUBLIC_KEY=pk_test_51RtnMzRu7Cqiksla7Z7pbvs9d46RbUlP1DuVmmPQQrNVj8ZK629xm7X2IN9Wvpn927AwtU03sqi0fV5l0kGYIKa000fCRdU6TU
A=tsk_ae13e22372ae11f0a9bdb7f9a2ea3488
B=tpk_ae13e22272ae11f0a9bdb7f9a2ea3488
C=ae13e22072ae11f0a9bdb7f9a2ea3488

# OAuth Social Login
GOOGLE_CLIENT_ID=594636074255-l6u58fnalukkt2dn2m5jq6c6togv6h52.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI="${APP_URL}/auth/google/callback"

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI="${APP_URL}/auth/facebook/callback"